@using TMTK05.Classes
@using TMTK05.Models
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @SqlInjection.SafeSqlLiteralRevert(IdentityModel.CurrentUserName).CaptalizeFirstLetter() <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li>
            <a href="@Url.Action("ViewProfile", "Admin")"><i class="fa fa-fw fa-user"></i> Profile</a>
        </li>        
        @if (PluginModel.PluginStatus("1"))
        {
            <li>
                <a href="@Url.Action("TwoFactorAuthentication", "Admin")"><i class="fa fa-fw fa-lock"></i> Security</a>
            </li>
        }
        @if (PluginModel.PluginStatus("5"))
        {
            <li>
                <a href="#" onclick="addMonster()"><i></i>
                    <img src="~/Img/monstericon.png" /><span class="monster">+1</span> Monster</a>
            </li>
        }
        <!--<li>
                <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
            </li>-->
        <li class="divider"></li>
        <li>
            <a href="@Url.Action("SignOut", "Admin")"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
        </li>
    </ul>
</li>