@using System.Web.Optimization
@{
    ViewBag.Title = "Dashboard";
    ViewBag.HeaderTitle = "Dashboard";
    ViewBag.HeaderSubHeading = "Overview";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

@section Breadcrumb {
    <ol class="breadcrumb">
        <li class ="active">
            <i class="fa fa-dashboard"></i> Dashboard
        </li>
    </ol>
}

<div class="col-lg-3 col-md-6">
    <div class="panel">
        <div id="weather"></div> 
    </div>
</div>

<div class="col-lg-3 col-md-6">
    <div class="clock">
        <div id="Date"></div>
        <ul>
            <li id="hours"></li>
            <li id="point">:</li>
            <li id="min"></li>
            <li id="point">:</li>
            <li id="sec"></li>
        </ul>
    </div>
</div>

    @section Scripts {
        @Scripts.Render("~/Bundles/WeatherScripts")
        @Scripts.Render("~/Bundles/ClockScripts")
    }
