@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Title {
    Dashboard
}

@section Subheading {
    Overview
}

@section Breadcrumb {
    <ol class="breadcrumb">
        <li class ="active">
            <i class="fa fa-dashboard"></i> Dashboard
        </li>
    </ol>
}

<h2>Index</h2>
