
@{
    ViewBag.Title = "Settings";
    ViewBag.HeaderTitle = "Settings";
    ViewBag.HeaderSubHeading = "Personalization";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

@section Breadcrumb {
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i> @Html.ActionLink("Dashboard", "Index", "Admin")
        </li>
        <li class="active">
            <i class="fa fa-wrench"></i> Settings
        </li>
    </ol>
}