@{
    ViewBag.Title = "Index";
    ViewBag.HeaderTitle = "Placeholder";
    ViewBag.HeaderSubHeading = "Placeholder";
    ViewBag.FooterCopyright = "Placeholder";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<h2>Index</h2>

