@using TMTK05.Models
@{
    var pageInfo = PageModel.GetSinglePageStaticList(Convert.ToInt16(Url.RequestContext.RouteData.Values["id"]));

    ViewBag.Title = pageInfo[0];
    ViewBag.HeaderTitle = pageInfo[0];
    ViewBag.HeaderSubHeading = pageInfo[1];
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

@if (pageInfo[2] == "1")
{
    var postInfo = PostModel.AllPostsStatic();


    for (var i = 1; i <= postInfo.Count / 3; i++)
    {
        <h2>@postInfo[i * 3 - 3]</h2>
        @Html.Raw(HttpUtility.HtmlDecode(postInfo[i * 3 - 2]))<br />
        <small style="float: right">Author: @postInfo[i * 3 - 1]</small>
        <hr/>
    }
}
else
{
    @Html.Raw(HttpUtility.HtmlDecode(pageInfo[3]))
}
